/*1 - Posicione o Mário acima do Goomba.
2 - Posicione a tag p para que fique dentro do balão de fala.
3 - Posicione o balão para que se torne uma fala de Bowser.
*/

.super-mario {
    width: 200px;
    position:absolute;
  }
  
  .goomba {
    width: 100px;
    position:absolute;
    margin-top: 290px;
    margin-left: 50px;
  }
  
  .baloon {
    position:absolute;
    margin-left: 200px;
    z-index:1;
  
  }
  
  .speach {
    font-size: 25px;
    position:absolute;
    margin-left: 220px;
    margin-top:55px;
    z-index:2;
  }
  
  .bowser {
    width: 200px;
    position:absolute;
    margin-left: 480px;
    margin-top:180px;
  }