h1, p{
    text-align: center;
}

ol li:hover{
    background-color:burlywood;
}

ol li:active{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
}

ol, ul{
    list-style: none
}